{% load widget_tweaks %}
<c-layouts.base>
    <div class="flex justify-center items-start min-h-screen px-4 py-4">
        <div class="w-full max-w-6xl bg-base-100 shadow-xl rounded-xl p-8">
            <div class="text-center mb-8">
                <h1 class="mb-8 text-2xl font-medium">{{ request.GET.role|title }} Login or Register</h1>
            </div>
            {% if error_message %}
            <div class="alert alert-error shadow-lg mb-6">
                <span>{{ error_message }}</span>
            </div>
            {% endif %}
            {% if success_message %}
            <div class="alert alert-success shadow-lg mb-4">
                <span>{{ success_message }}</span>
            </div>
            {% endif %}
            <div class="flex flex-col lg:flex-row gap-8">
                <!-- Login Form -->
                <div class="w-full lg:w-1/2 border border-base-300 rounded-lg p-6">
                    <h2 class="text-xl font-semibold mb-4">Login</h2>
                    <form method="POST"
                        action="{% url 'account_auth' %}{% if request.GET.role %}?role={{ request.GET.role }}{% endif %}"
                        class="space-y-4">
                        {% csrf_token %}
                        {% if login_form.non_field_errors %}
                        <div class="alert alert-error mb-4">
                            {% for error in login_form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% for field in login_form.visible_fields %}
                        <div class="form-control mb-4">
                            {% if field.name == "remember" %}
                            <label class="flex items-center gap-4 cursor-pointer">
                                {% render_field field class="toggle toggle-primary" %}
                                <span class="label-text">Remember Me</span>
                            </label>
                            {% else %}
                            <label class="label">{{ field.label }}</label>
                            {% render_field field class="input input-bordered w-full" %}
                            {% endif %}
                            {% if field.errors %}
                            {% for error in field.errors %}
                            <p class="text-sm text-error mt-1">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}

                        <div class="pt-4">
                            <button name="signin" value="1" class="btn btn-primary w-full" type="submit">Sign
                                In</button>
                        </div>
                    </form>
                    <p class="text-sm text-right mt-2">
                        <a href="#" hx-get="{% url 'account_reset_password' %}" hx-target="#auth-dynamic"
                            hx-swap="innerHTML">
                            Forgot password?
                        </a>
                    </p>

                    <!-- Dynamic content container -->
                    <div id="auth-dynamic" class="mt-6"></div>
                </div>

                <!-- Register Form -->
                <div class="w-full lg:w-1/2 border border-base-300 rounded-lg p-6">
                    <h2 class="text-xl font-semibold mb-4">Register</h2>
                    <form method="POST" action="{% url 'account_auth' %}" class="space-y-4">
                        {% csrf_token %}
                        {% if signup_form.non_field_errors %}
                        <div class="alert alert-error mb-4">
                            {% for error in signup_form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% for field in signup_form.visible_fields %}
                        <div class="form-control mb-4">
                            <label class="label"><span class="label-text">{{ field.label }}</span></label>

                            {% if field.name == "type" %}
                            {% render_field field class="select select-bordered w-full" %}
                            {% else %}
                            {% render_field field class="input input-bordered w-full" %}
                            {% endif %}

                            {% if field.errors %}
                            {% for error in field.errors %}
                            <p class="text-sm text-error mt-1">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% endfor %}

                        <div class="pt-4">
                            <button name="register" value="1" class="btn btn-secondary w-full" type="submit">Create
                                Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</c-layouts.base>