{% extends "components/layouts/base.html" %}

{% block content %}
<div class="flex flex-grow flex-col items-center justify-center px-4 py-16">
    {% if not request.GET.role %}
    <h1 class="mb-8 text-2xl font-medium">Select Your Role</h1>
    <div class="flex gap-4">
        <!-- Employee Button -->
        <a href="{% url 'account_auth' %}?role=employee"
            class="btn btn-primary w-32 h-12 text-center flex items-center justify-center">Employee</a>
        <!-- Employer Button -->
        <a href="{% url 'account_auth' %}?role=employer"
            class="btn btn-secondary w-32 h-12 text-center flex items-center justify-center">Employer</a>
    </div>
    {% else %}
    <h1 class="mb-8 text-2xl font-medium">{{ request.GET.role|title }} Login or Register</h1>
    <div class="w-full max-w-4xl flex flex-col md:flex-row gap-8">
        <div class="flex-1 bg-base-100 p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Login</h2>
            {% if error_message %}
            <div class="alert alert-error mb-4">{{ error_message }}</div>
            {% endif %}
            <form method="post" class="mb-6">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button name="login" value="1" class="btn btn-primary w-full" type="submit">Sign In</button>
            </form>
        </div>
        <div class="flex-1 bg-base-100 p-6 rounded shadow">
            <h2 class="text-xl font-semibold mb-4">Register</h2>
            {% if success_message %}
            <div class="alert alert-success mb-4">{{ success_message }}</div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ signup_form.non_field_errors }}
                {{ signup_form.as_p }}
                <!-- In login_register.html -->
                <button type="submit" name="register" class="btn btn-secondary w-full">Register</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}