{% if user.is_authenticated %}
<li>
    <a href="{% url 'dashboard' %}"
        class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
        <i class="fas fa-home"></i> Dashboard
    </a>
</li>
<li>
    <a href="{% url 'companies:list' %}"
        class="nav-link {% if request.resolver_match.url_name == 'list' and request.resolver_match.namespace == 'companies' %}active{% endif %}">
        <i class="fas fa-building"></i> Companies
    </a>
</li>
{% if user.company or user.workplace %}
<li>
    <a href="{% url 'thread_list' %}"
        class="nav-link {% if request.resolver_match.url_name == 'thread_list' or request.resolver_match.url_name == 'thread_detail' %}active{% endif %}">
        <i class="fas fa-comment-dots"></i> Threads
    </a>
</li>
<li>
    <a href="{% url 'companies:directory' %}"
        class="nav-link {% if request.resolver_match.url_name == 'directory' and request.resolver_match.namespace == 'companies' %}active{% endif %}">
        <i class="fas fa-users"></i> Employee Directory
    </a>
</li>
{% endif %}
{% if user.company %}
<li>
    <a href="#" class="nav-link">
        <i class="fas fa-star"></i> Reviews
    </a>
</li>
{% endif %}
{% if user.company or user.is_superuser %}
<li>
    <div class="dropdown dropdown-bottom dropdown-center nav-link">
        <div tabindex="0" role="button">
            <i class="fas fa-clipboard-list mr-1"></i> Requests
        </div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-t-none rounded-box z-1 w-52 p-2 shadow-sm">
            {% if user.company %}
            <li>
                <a href="{% url 'company_requests:list' %}">
                    <i class="fas fa-clipboard-user mr-1"></i> My Requests
                </a>
            </li>
            <li>
                <a href="{% url 'company_requests:company' company_id=user.company.id %}">
                    <i class="fas fa-building-flag mr-1"></i> Company Requests
                </a>
            </li>
            {% endif %}
            {% if user.company and user.is_superuser %}
            <div class="divider"></div>
            {% endif %}
            {% if user.is_superuser %}
            <li>
                <a href="{% url 'company_requests:manage_claims' %}">
                    <i class="fas fa-building-circle-exclamation mr-1"></i> Company Claims
                </a>
            </li>
            <li>
                <a href="{% url 'company_requests:manage_unclaimed' %}">
                    <i class="fas fa-clipboard-question mr-1"></i> Unclaimed Requests
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</li>
{% else %}
<li>
    <a href="{% url 'company_requests:list' %}" class="nav-link">
        <i class="fas fa-clipboard-list"></i> Requests
    </a>
</li>
{% endif %}
{% else %}
<li>
    <a href="{% url 'companies:list' %}"
        class="nav-link {% if request.resolver_match.url_name == 'list' and request.resolver_match.namespace == 'companies' %}active{% endif %}">
        <i class="fas fa-building"></i> Companies
    </a>
</li>
{% endif %}
