{% load cotton %}

<c-layouts.email>
    <c-email.header>
        <h2 class="text-2xl font-bold text-center">Reset Your Password</h2>
    </c-email.header>

    <c-email.content>
        <p>Hello from {{ site.name }} ({{ site.domain }})!</p>

        <p class="my-4">You're receiving this email because you requested a password reset for your account.</p>

        <p class="my-4">Please click the button below to reset your password:</p>

        <div class="text-center my-6">
            <a href="{{ password_reset_url }}" class="btn btn-primary">Reset Password</a>
        </div>

        <p class="my-4">If the button doesn't work, you can also copy and paste the following link into your browser:
        </p>
        <p class="text-sm text-blue-600 break-all">{{ password_reset_url }}</p>

        <p class="mt-6">If you didn't request this password reset, you can safely ignore this email.</p>
    </c-email.content>

    <c-email.footer>
        <p>Thanks,<br>{{ site.name }}</p>
    </c-email.footer>
</c-layouts.email>