# Environment
DJANGO_ENV=development
SECRET_KEY=your-secret-key
DEBUG=True

# Other Environment Variables
ALLOWED_HOSTS=127.0.0.1,localhost

# Email Configuration
EMAIL_HOST=smtp.mailersend.net
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=example@feedit.online
EMAIL_HOST_PASSWORD=your-password-here
DEFAULT_FROM_EMAIL=noreply@feedit.online

# S3 bucket (production only)
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=eu-north-1
# only if AWS auth required (outside AWS environment)
AWS_ACCESS_KEY_ID=your-iam-user
AWS_SECRET_ACCESS_KEY=your-iam-password
